
body{text-align: left;
word-break: break-all;
 font-family: "Playfair Display", serif;}
.header {
    display: block;
    width: 100%;
    background: url(./pattern.png);
    background-size: contain;
    background-color: skyblue;
    padding-top: 100px;
    margin: 0;
}
.logo{
    display: block;
    width: 35%;
    height: auto;
}

.titolo{
    line-height: 0;
    
}

.titolo > h1{
    font-weight: bold;
} 
.sottotitolo{
    color: grey;
}
#blu{
    color: blue
}
.piccolo {
    font-size:small ;
}
.immagini{
    display: flex;
}
.immagini > img{
    margin-right: 7px;
}
.descrizione-immagini{
    margin: 0;
}
ul{
    padding-left: 10px;
}
.yellow {
    background-color: yellow;
}
table{
    border-collapse: collapse;
}
table .colorato{
    background-color: skyblue;
}
table > thead{
    background-color: blueviolet;
    color: white;
}
table .quarto{
    width: 25%;
}
table .meta{
    width: 50%;
}
.immagine-grafico {
    margin: 0;
    display: block;
    background-image: url(./graph.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    padding-bottom: 100px;
   }

.immagine-grafico > p{
    display: flex;
    color: white;
    font-weight: bold;
    text-align: center;

}
.immagine-monitor {
    display: block;
    background-image: url(./monitor.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    padding-bottom: 100px;
   }

.immagine-monitor > p{
    display: flex;
    color: white;
    font-weight: bold;
    text-align: center;

}
footer > h3 {
    color: grey;
}