
body{text-align: left;
word-break: break-all;}
.header {
    display: block;
    width: 100%;
    background: url(./pattern.png);
    background-size: contain;
    background-color: skyblue;
    padding-top: 100px;
    margin: 0;
}
.logo{
    display: block;
    width: 35%;
    height: auto;
}

.titolo{
    font-family: "Playfair Display", serif;
    line-height: 0;
    
}

.titolo > h1{
    font-weight: bold;
    white-space: normal;
} 
.sottotitolo{
    color: grey;
}
#blu{
    color: blue
}
.piccolo {
    font-size:small ;
}
.immagini{
    display: flex;
}
.immagini > img{
    margin-right: 7px;
}
.descrizione-immagini{
    margin: 0;
}
ul{
    padding-left: 10px;
}
#yellow {
    background-color: yellow;
}